<h1>Editando un Reloj</h1>

<%= render 'form', reloj: @reloj %>

<%= link_to 'Mostrar', @reloj %> |
<%= link_to 'Regresar al listado', relojes_path %>
<br>
<%= link_to 'Regresar al home', home_path %>