<h1>Editing Numero</h1>

<%= render 'form', numero: @numero %>

<%= link_to 'Mostrar', @numero %> |
<%= link_to 'Regresar al listado', numeros_path %>
<br>
<%= link_to 'Regresar al home', home_path %>