<h1>Edita una Opción</h1>

<%= render 'form', opcion: @opcion %>

<%= link_to 'Muestra', @opcion %> |
<%= link_to 'Regresa al listado', opciones_path %>
<br>
<%= link_to 'Regresar al home', home_path %>
