// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.verde {
	color: green;
}

.rojo {
	color: red;
}

.gris {
	color: gray;
}


a {
	color:#343a40;
	border-color:#343a40;
	background-color: #E9FBFF;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	text-decoration: none !important;
	padding: 2px 8px 2px 8px;
	margin: 4px;
	display: inline-block;
}

a:hover {
	color: #343a40 !important;
	background-color: #34ec96 !important;
  font-weight: bold;
}

th, td {
	text-align: center !important; 
	vertical-align: middle !important;
}

.ancho {
	width: 30%;
}